NodeRed Flow/flow.json
[
    {
        "id": "37d9a09a.40a8e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "39fa03d6.c0b54c",
        "type": "debug",
        "z": "37d9a09a.40a8e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "f3fd2ca9.4440e",
        "type": "ui_text",
        "z": "37d9a09a.40a8e",
        "group": "4d9c5e15.306f4",
        "order": 4,
        "width": 11,
        "height": 3,
        "name": "Bot_Query",
        "label": "User Input",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 810,
        "y": 240,
        "wires": [],
        "inputLabels": [
            "asd"
        ]
    },
    {
        "id": "1913798.2b6a687",
        "type": "watson-conversation-v1",
        "z": "37d9a09a.40a8e",
        "name": "Chat_bot",
        "workspaceid": "70916ad7-3b11-4f16-80af-be90e78a08d0",
        "multiuser": false,
        "context": false,
        "empty-payload": false,
        "service-endpoint": "",
        "timeout": "",
        "optout-learning": false,
        "x": 800,
        "y": 480,
        "wires": [
            [
                "73c8b3f2.54069c",
                "ffbeee45.3c172"
            ]
        ]
    },
    {
        "id": "e899a436.02f2c8",
        "type": "ui_text",
        "z": "37d9a09a.40a8e",
        "group": "4d9c5e15.306f4",
        "order": 10,
        "width": 22,
        "height": 10,
        "name": "Bot_Response",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1180,
        "y": 240,
        "wires": []
    },
    {
        "id": "df1019c1.d9fb38",
        "type": "debug",
        "z": "37d9a09a.40a8e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1170,
        "y": 440,
        "wires": []
    },
    {
        "id": "73c8b3f2.54069c",
        "type": "function",
        "z": "37d9a09a.40a8e",
        "name": "Retrive_data_discovery",
        "func": "msg.payload.text=\"\"; \nif(msg.payload.context.webhook_result_1)\n{ \n    \n        msg.payload.text=msg.payload.text+\"<br>\"+msg.payload.context.webhook_result_1.results[0].subtitle;\n        msg.payload.text=msg.payload.text+\"<br><br>\"+msg.payload.context.webhook_result_1.results[0].text+\"<br>\"; \n    \n    msg.payload=msg.payload.text; \n    \n} \nelse \nmsg.payload = msg.payload.output.text[0];\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 320,
        "wires": [
            [
                "df1019c1.d9fb38",
                "e899a436.02f2c8"
            ]
        ]
    },
    {
        "id": "aeebd804.b75ca8",
        "type": "function",
        "z": "37d9a09a.40a8e",
        "name": "payload_query",
        "func": "msg.payload = msg.payload.query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 420,
        "wires": [
            [
                "1913798.2b6a687",
                "f3fd2ca9.4440e"
            ]
        ]
    },
    {
        "id": "ffbeee45.3c172",
        "type": "debug",
        "z": "37d9a09a.40a8e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1000,
        "y": 580,
        "wires": []
    },
    {
        "id": "ffaab95d.ffa458",
        "type": "ui_button",
        "z": "37d9a09a.40a8e",
        "name": "",
        "group": "4d9c5e15.306f4",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "black",
        "bgcolor": "cyan",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "e24d47c4.cfd488"
            ]
        ]
    },
    {
        "id": "e24d47c4.cfd488",
        "type": "switch",
        "z": "37d9a09a.40a8e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 560,
        "wires": [
            [
                "bc47fb43.83ce28",
                "d8f9e623.24d1e8"
            ]
        ]
    },
    {
        "id": "bc47fb43.83ce28",
        "type": "function",
        "z": "37d9a09a.40a8e",
        "name": "payload_welcome",
        "func": "msg.payload = \"welcome\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 640,
        "wires": [
            [
                "1913798.2b6a687"
            ]
        ]
    },
    {
        "id": "75c09c58.1e5f54",
        "type": "inject",
        "z": "37d9a09a.40a8e",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "e24d47c4.cfd488"
            ]
        ]
    },
    {
        "id": "d8f9e623.24d1e8",
        "type": "function",
        "z": "37d9a09a.40a8e",
        "name": "initial_payload",
        "func": "msg.payload = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "f3fd2ca9.4440e",
                "51bd4df9.b704f4"
            ]
        ]
    },
    {
        "id": "51bd4df9.b704f4",
        "type": "ui_form",
        "z": "37d9a09a.40a8e",
        "name": "chat_form",
        "label": "",
        "group": "4d9c5e15.306f4",
        "order": 11,
        "width": 22,
        "height": 2,
        "options": [
            {
                "label": "Enter your Query",
                "value": "query",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "query": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Cancel",
        "topic": "",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "aeebd804.b75ca8",
                "39fa03d6.c0b54c"
            ]
        ]
    },
    {
        "id": "4d9c5e15.306f4",
        "type": "ui_group",
        "z": "",
        "name": "Chatbot",
        "tab": "9e9b63ca.1ea58",
        "order": 1,
        "disp": true,
        "width": 22,
        "collapse": false
    },
    {
        "id": "9e9b63ca.1ea58",
        "type": "ui_tab",
        "z": "",
        "name": "SMART CUSTOMER HELP DESK",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
